In [1]:
import os
import pandas as pd

# Define the directory containing CSV files
directory = "HR_ALL"

# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith(".csv")]

# Print contents of each CSV file
for file in csv_files:
    file_path = os.path.join(directory, file)
    print(f"--- Printing: {file} ---")
    df = pd.read_csv(file_path)
    print(df)
    print("\n")

--- Printing: all_departments.csv ---
    DEPARTMENT_ID       DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
0              10        Administration       200.0         1700
1              20             Marketing       201.0         1800
2              30            Purchasing       114.0         1700
3              40       Human Resources       203.0         2400
4              50              Shipping       121.0         1500
5              60                    IT       103.0         1400
6              70      Public Relations       204.0         2700
7              80                 Sales       145.0         2500
8              90             Executive       100.0         1700
9             100               Finance       108.0         1700
10            110            Accounting       205.0         1700
11            120              Treasury         NaN         1700
12            130         Corporate Tax         NaN         1700
13            140    Control And Credit         NaN         1700
14            150  Shareholder Services         NaN         1700
15            160              Benefits         NaN         1700
16            170         Manufacturing         NaN         1700
17            180          Construction         NaN         1700
18            190           Contracting         NaN         1700
19            200            Operations         NaN         1700
20            210            IT Support         NaN         1700
21            220                   NOC         NaN         1700
22            230           IT Helpdesk         NaN         1700
23            240      Government Sales         NaN         1700
24            250          Retail Sales         NaN         1700
25            260            Recruiting         NaN         1700
26            270               Payroll         NaN         1700


--- Printing: all_employees.csv ---
     EMPLOYEE_ID FIRST_NAME LAST_NAME     EMAIL        PHONE_NUMBER  \
0            100     Steven      King     SKING        515.123.4567
1            101      Neena   Kochhar  NKOCHHAR        515.123.4568
2            102        Lex   De Haan   LDEHAAN        515.123.4569
3            103  Alexander    Hunold   AHUNOLD        590.423.4567
4            104      Bruce     Ernst    BERNST        590.423.4568
..           ...        ...       ...       ...                 ...
102          203      Susan    Mavris   SMAVRIS        515.123.7777
103          204    Hermann      Baer     HBAER        515.123.8888
104          205    Shelley   Higgins  SHIGGINS        515.123.8080
105          206    William     Gietz    WGIETZ        515.123.8181
106          150      Peter    Tucker   PTUCKER  011.44.1344.129268

     HIRE_DATE      JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
0    17-JUN-03     AD_PRES   24000             NaN         NaN           90.0
1    21-SEP-05       AD_VP   17000             NaN       100.0           90.0
2    13-JAN-01       AD_VP   17000             NaN       100.0           90.0
3    03-JAN-06     IT_PROG    9000             NaN       102.0           60.0
4    21-MAY-07     IT_PROG    6000             NaN       103.0           60.0
..         ...         ...     ...             ...         ...            ...
102  07-JUN-02      HR_REP    6500             NaN       101.0           40.0
103  07-JUN-02      PR_REP   10000             NaN       101.0           70.0
104  07-JUN-02      AC_MGR   12008             NaN       101.0          110.0
105  07-JUN-02  AC_ACCOUNT    8300             NaN       205.0          110.0
106  30-JAN-05      SA_REP   10000             0.3       145.0           80.0

[107 rows x 11 columns]


--- Printing: department_salary_analysis.csv ---
          Department  Employee Count  Avg Salary  Min Salary  Max Salary
0              Sales              34     8955.88        6100       14000
1          Marketing               2     9500.00        6000       13000
2     Administration               1     4400.00        4400        4400
3         Purchasing               6     4150.00        2500       11000
4           Shipping              45     3475.56        2100        8200
5                 IT               5     5760.00        4200        9000
6          Executive               3    19333.33       17000       24000
7            Finance               6     8601.33        6900       12008
8   Public Relations               1    10000.00       10000       10000
9    Human Resources               1     6500.00        6500        6500
10        Accounting               2    10154.00        8300       12008


--- Printing: dept_10.csv ---
   Employee ID             Name  Salary   Hire Date      Department
0          200  Jennifer Whalen    4400  2003-09-17  Administration


--- Printing: dept_100.csv ---
   Employee ID               Name  Salary   Hire Date Department
0          108    Nancy Greenberg   12008  2002-08-17    Finance
1          109      Daniel Faviet    9000  2002-08-16    Finance
2          110          John Chen    8200  2005-09-28    Finance
3          111     Ismael Sciarra    7700  2005-09-30    Finance
4          112  Jose Manuel Urman    7800  2006-03-07    Finance
5          113          Luis Popp    6900  2007-12-07    Finance


--- Printing: dept_110.csv ---
   Employee ID             Name  Salary   Hire Date  Department
0          205  Shelley Higgins   12008  2002-06-07  Accounting
1          206    William Gietz    8300  2002-06-07  Accounting


--- Printing: dept_120.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_130.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_140.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_150.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_160.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_170.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_180.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_190.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_20.csv ---
   Employee ID             Name  Salary   Hire Date Department
0          201  Michael Johnson   13000  2004-02-17  Marketing
1          202          Pat Joe    6000  2005-08-17  Marketing


--- Printing: dept_200.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_210.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_220.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_230.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_240.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_250.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_260.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_270.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- Printing: dept_30.csv ---
   Employee ID              Name  Salary   Hire Date  Department
0          114      Den Raphaely   11000  2002-12-07  Purchasing
1          115    Alexander Khoo    3100  2003-05-18  Purchasing
2          116      Shelli Baida    2900  2005-12-24  Purchasing
3          117      Sigal Tobias    2800  2005-07-24  Purchasing
4          118        Guy Himuro    2600  2006-11-15  Purchasing
5          119  Karen Colmenares    2500  2007-08-10  Purchasing


--- Printing: dept_40.csv ---
   Employee ID          Name  Salary   Hire Date       Department
0          203  Susan Mavris    6500  2002-06-07  Human Resources


--- Printing: dept_50.csv ---
    Employee ID               Name  Salary   Hire Date Department
0           120      Matthew Weiss    8000  2004-07-18   Shipping
1           121         Adam Fripp    8200  2005-04-10   Shipping
2           122     Payam Kaufling    7900  2003-05-01   Shipping
3           123     Shanta Vollman    6500  2005-10-10   Shipping
4           124      Kevin Mourgos    5800  2007-11-16   Shipping
5           125        Julia Nayer    3200  2005-07-16   Shipping
6           126  Irene Mikkilineni    2700  2006-09-28   Shipping
7           127       James Landry    2400  2007-01-14   Shipping
8           128      Steven Markle    2200  2008-03-08   Shipping
9           129       Laura Bissot    3300  2005-08-20   Shipping
10          130     Mozhe Atkinson    2800  2005-10-30   Shipping
11          131       James Marlow    2500  2005-02-16   Shipping
12          132           TJ Olson    2100  2007-04-10   Shipping
13          133       Jason Mallin    3300  2004-06-14   Shipping
14          134     Michael Rogers    2900  2006-08-26   Shipping
15          135             Ki Gee    2400  2007-12-12   Shipping
16          136   Hazel Philtanker    2200  2008-02-06   Shipping
17          137      Renske Ladwig    3600  2003-07-14   Shipping
18          138     Stephen Stiles    3200  2005-10-26   Shipping
19          139           John Seo    2700  2006-02-12   Shipping
20          140       Joshua Patel    2500  2006-04-06   Shipping
21          141        Trenna Rajs    3500  2003-10-17   Shipping
22          142      Curtis Davies    3100  2005-01-29   Shipping
23          143      Randall Matos    2600  2006-03-15   Shipping
24          144       Peter Vargas    2500  2006-07-09   Shipping
25          180     Winston Taylor    3200  2006-01-24   Shipping
26          181        Jean Fleaur    3100  2006-02-23   Shipping
27          182    Martha Sullivan    2500  2007-06-21   Shipping
28          183       Girard Geoni    2800  2008-02-03   Shipping
29          184   Nandita Sarchand    4200  2004-01-27   Shipping
30          185        Alexis Bull    4100  2005-02-20   Shipping
31          186    Julia Dellinger    3400  2006-06-24   Shipping
32          187     Anthony Cabrio    3000  2007-02-07   Shipping
33          188        Kelly Chung    3800  2005-06-14   Shipping
34          189     Jennifer Dilly    3600  2005-08-13   Shipping
35          190      Timothy Gates    2900  2006-07-11   Shipping
36          191    Randall Perkins    2500  2007-12-19   Shipping
37          192         Sarah Bell    4000  2004-02-04   Shipping
38          193    Britney Everett    3900  2005-03-03   Shipping
39          194      Samuel McCain    3200  2006-07-01   Shipping
40          195        Vance Jones    2800  2007-03-17   Shipping
41          196        Alana Walsh    3100  2006-04-24   Shipping
42          197       Kevin Feeney    3000  2006-05-23   Shipping
43          198    Donald OConnell    2600  2007-06-21   Shipping
44          199      Douglas Grant    2600  2008-01-13   Shipping


--- Printing: dept_60.csv ---
   Employee ID              Name  Salary   Hire Date Department
0          103  Alexander Hunold    9000  2006-01-03         IT
1          104       Bruce Ernst    6000  2007-05-21         IT
2          105      David Austin    4800  2005-06-25         IT
3          106   Valli Pataballa    4800  2006-02-05         IT
4          107     Diana Lorentz    4200  2007-02-07         IT


--- Printing: dept_70.csv ---
   Employee ID          Name  Salary   Hire Date        Department
0          204  Hermann Baer   10000  2002-06-07  Public Relations


--- Printing: dept_80.csv ---
    Employee ID               Name  Salary   Hire Date Department
0           145       John Russell   14000  2004-10-01      Sales
1           146     Karen Partners   13500  2005-01-05      Sales
2           147  Alberto Errazuriz   12000  2005-03-10      Sales
3           148   Gerald Cambrault   11000  2007-10-15      Sales
4           149      Eleni Zlotkey   10500  2008-01-29      Sales
5           151    David Bernstein    9500  2005-03-24      Sales
6           152         Peter Hall    9000  2005-08-20      Sales
7           153  Christopher Olsen    8000  2006-03-30      Sales
8           154  Nanette Cambrault    7500  2006-12-09      Sales
9           155     Oliver Tuvault    7000  2007-11-23      Sales
10          156       Janette King   10000  2004-01-30      Sales
11          157      Patrick Sully    9500  2004-03-04      Sales
12          158       Allan McEwen    9000  2004-08-01      Sales
13          159      Lindsey Smith    8000  2005-03-10      Sales
14          160       Louise Doran    7500  2005-12-15      Sales
15          161      Sarath Sewall    7000  2006-11-03      Sales
16          162      Clara Vishney   10500  2005-11-11      Sales
17          163    Danielle Greene    9500  2007-03-19      Sales
18          164     Mattea Marvins    7200  2008-01-24      Sales
19          165          David Lee    6800  2008-02-23      Sales
20          166        Sundar Ande    6400  2008-03-24      Sales
21          167         Amit Banda    6200  2008-04-21      Sales
22          168          Lisa Ozer   11500  2005-03-11      Sales
23          169     Harrison Bloom   10000  2006-03-23      Sales
24          170         Tayler Fox    9600  2006-01-24      Sales
25          171      William Smith    7400  2007-02-23      Sales
26          172    Elizabeth Bates    7300  2007-03-24      Sales
27          173      Sundita Kumar    6100  2008-04-21      Sales
28          174         Ellen Abel   11000  2004-05-11      Sales
29          175      Alyssa Hutton    8800  2005-03-19      Sales
30          176    Jonathon Taylor    8600  2006-03-24      Sales
31          177    Jack Livingston    8400  2006-04-23      Sales
32          179    Charles Johnson    6200  2008-01-04      Sales
33          150       Peter Tucker   10000  2005-01-30      Sales


--- Printing: dept_90.csv ---
   Employee ID           Name  Salary   Hire Date Department
0          100    Steven King   24000  2003-06-17  Executive
1          101  Neena Kochhar   17000  2005-09-21  Executive
2          102    Lex De Haan   17000  2001-01-13  Executive


--- Printing: job_experience_salary.csv ---
                          Job Title  Avg Salary  Avg Experience (Years)
0    Human Resources Representative        6500                    22.8
1                Accounting Manager       12008                    22.8
2                Purchasing Manager       11000                    22.3
3                 Public Accountant        8300                    22.8
4                       Stock Clerk        2785                    19.2
5                         President       24000                    21.8
6                        Accountant        7920                    19.6
7                     Sales Manager       12200                    19.1
8              Sales Representative        8350                    18.9
9                     Stock Manager        7280                    19.9
10    Administration Vice President       17000                    21.9
11  Public Relations Representative       10000                    22.8
12                   Shipping Clerk        3215                    18.9
13                  Finance Manager       12008                    22.6
14                       Programmer        5760                    18.8
15                Marketing Manager       13000                    21.1
16         Administration Assistant        4400                    21.5
17         Marketing Representative        6000                    19.6
18                 Purchasing Clerk        2780                    19.4


--- Printing: job_history_analysis.csv ---
   Employee ID             Name                 Job Title  Start Date  \
0          101    Neena Kochhar         Public Accountant  1997-09-21
1          101    Neena Kochhar        Accounting Manager  2001-10-28
2          102      Lex De Haan                Programmer  2001-01-13
3          114     Den Raphaely               Stock Clerk  2006-03-24
4          122   Payam Kaufling               Stock Clerk  2007-01-01
5          176  Jonathon Taylor      Sales Representative  2006-03-24
6          176  Jonathon Taylor             Sales Manager  2007-01-01
7          200  Jennifer Whalen  Administration Assistant  1995-09-17
8          200  Jennifer Whalen         Public Accountant  2002-07-01
9          201  Michael Johnson  Marketing Representative  2004-02-17

     End Date  Tenure (Months)  Job Switch Count
0  2001-10-27             49.2                 2
1  2005-03-15             40.6                 2
2  2006-07-24             66.4                 1
3  2007-12-31             21.2                 1
4  2007-12-31             12.0                 1
5  2006-12-31              9.2                 2
6  2007-12-31             12.0                 2
7  2001-06-17             69.0                 2
8  2006-12-31             54.0                 2
9  2007-12-19             46.1                 1


--- Printing: job_salary_statistics.csv ---
        Job ID                        Job Title        Department  \
0      AD_PRES                        President         Executive
1        AD_VP    Administration Vice President         Executive
2       MK_MAN                Marketing Manager         Marketing
3       SA_MAN                    Sales Manager             Sales
4       AC_MGR               Accounting Manager        Accounting
5       FI_MGR                  Finance Manager           Finance
6       PU_MAN               Purchasing Manager        Purchasing
7       PR_REP  Public Relations Representative  Public Relations
8       SA_REP             Sales Representative             Sales
9   AC_ACCOUNT                Public Accountant        Accounting
10  FI_ACCOUNT                       Accountant           Finance
11      ST_MAN                    Stock Manager          Shipping
12      SA_REP             Sales Representative               NaN
13      HR_REP   Human Resources Representative   Human Resources
14      MK_REP         Marketing Representative         Marketing
15     IT_PROG                       Programmer                IT
16     AD_ASST         Administration Assistant    Administration
17    SH_CLERK                   Shipping Clerk          Shipping
18    ST_CLERK                      Stock Clerk          Shipping
19    PU_CLERK                 Purchasing Clerk        Purchasing

    Total Employees  Avg Salary  Median Salary  Min Salary  Max Salary
0                 1    24000.00          24000       24000       24000
1                 2    17000.00          17000       17000       17000
2                 1    13000.00          13000       13000       13000
3                 5    12200.00          12000       10500       14000
4                 1    12008.00          12008       12008       12008
5                 1    12008.00          12008       12008       12008
6                 1    11000.00          11000       11000       11000
7                 1    10000.00          10000       10000       10000
8                29     8396.55           8400        6100       11500
9                 1     8300.00           8300        8300        8300
10                5     7920.00           7800        6900        9000
11                5     7280.00           7900        5800        8200
12                1     7000.00           7000        7000        7000
13                1     6500.00           6500        6500        6500
14                1     6000.00           6000        6000        6000

In [3]:
import os
import pandas as pd

# Define the directory containing CSV files
directory = "HR_ALL"

# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith(".csv")]

# Print first 3 rows of each CSV file
for file in csv_files:
    file_path = os.path.join(directory, file)
    print(f"--- First 3 rows of: {file} ---")
    df = pd.read_csv(file_path)
    print(df.head(3))  # Print only the first 3 rows
    print("\n")

--- First 3 rows of: all_departments.csv ---
   DEPARTMENT_ID DEPARTMENT_NAME  MANAGER_ID  LOCATION_ID
0             10  Administration       200.0         1700
1             20       Marketing       201.0         1800
2             30      Purchasing       114.0         1700


--- First 3 rows of: all_employees.csv ---
   EMPLOYEE_ID FIRST_NAME LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0          100     Steven      King     SKING  515.123.4567  17-JUN-03
1          101      Neena   Kochhar  NKOCHHAR  515.123.4568  21-SEP-05
2          102        Lex   De Haan   LDEHAAN  515.123.4569  13-JAN-01

    JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
0  AD_PRES   24000             NaN         NaN           90.0
1    AD_VP   17000             NaN       100.0           90.0
2    AD_VP   17000             NaN       100.0           90.0


--- First 3 rows of: department_salary_analysis.csv ---
       Department  Employee Count  Avg Salary  Min Salary  Max Salary
0           Sales              34     8955.88        6100       14000
1       Marketing               2     9500.00        6000       13000
2  Administration               1     4400.00        4400        4400


--- First 3 rows of: dept_10.csv ---
   Employee ID             Name  Salary   Hire Date      Department
0          200  Jennifer Whalen    4400  2003-09-17  Administration


--- First 3 rows of: dept_100.csv ---
   Employee ID             Name  Salary   Hire Date Department
0          108  Nancy Greenberg   12008  2002-08-17    Finance
1          109    Daniel Faviet    9000  2002-08-16    Finance
2          110        John Chen    8200  2005-09-28    Finance


--- First 3 rows of: dept_110.csv ---
   Employee ID             Name  Salary   Hire Date  Department
0          205  Shelley Higgins   12008  2002-06-07  Accounting
1          206    William Gietz    8300  2002-06-07  Accounting


--- First 3 rows of: dept_120.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_130.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_140.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_150.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_160.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_170.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_180.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_190.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_20.csv ---
   Employee ID             Name  Salary   Hire Date Department
0          201  Michael Johnson   13000  2004-02-17  Marketing
1          202          Pat Joe    6000  2005-08-17  Marketing


--- First 3 rows of: dept_200.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_210.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_220.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_230.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_240.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_250.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_260.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_270.csv ---
Empty DataFrame
Columns: [Employee ID, Name, Salary, Hire Date, Department]
Index: []


--- First 3 rows of: dept_30.csv ---
   Employee ID            Name  Salary   Hire Date  Department
0          114    Den Raphaely   11000  2002-12-07  Purchasing
1          115  Alexander Khoo    3100  2003-05-18  Purchasing
2          116    Shelli Baida    2900  2005-12-24  Purchasing


--- First 3 rows of: dept_40.csv ---
   Employee ID          Name  Salary   Hire Date       Department
0          203  Susan Mavris    6500  2002-06-07  Human Resources


--- First 3 rows of: dept_50.csv ---
   Employee ID            Name  Salary   Hire Date Department
0          120   Matthew Weiss    8000  2004-07-18   Shipping
1          121      Adam Fripp    8200  2005-04-10   Shipping
2          122  Payam Kaufling    7900  2003-05-01   Shipping


--- First 3 rows of: dept_60.csv ---
   Employee ID              Name  Salary   Hire Date Department
0          103  Alexander Hunold    9000  2006-01-03         IT
1          104       Bruce Ernst    6000  2007-05-21         IT
2          105      David Austin    4800  2005-06-25         IT


--- First 3 rows of: dept_70.csv ---
   Employee ID          Name  Salary   Hire Date        Department
0          204  Hermann Baer   10000  2002-06-07  Public Relations


--- First 3 rows of: dept_80.csv ---
   Employee ID               Name  Salary   Hire Date Department
0          145       John Russell   14000  2004-10-01      Sales
1          146     Karen Partners   13500  2005-01-05      Sales
2          147  Alberto Errazuriz   12000  2005-03-10      Sales


--- First 3 rows of: dept_90.csv ---
   Employee ID           Name  Salary   Hire Date Department
0          100    Steven King   24000  2003-06-17  Executive
1          101  Neena Kochhar   17000  2005-09-21  Executive
2          102    Lex De Haan   17000  2001-01-13  Executive


--- First 3 rows of: job_experience_salary.csv ---
                        Job Title  Avg Salary  Avg Experience (Years)
0  Human Resources Representative        6500                    22.8
1              Accounting Manager       12008                    22.8
2              Purchasing Manager       11000                    22.3


--- First 3 rows of: job_history_analysis.csv ---
   Employee ID           Name           Job Title  Start Date    End Date  \
0          101  Neena Kochhar   Public Accountant  1997-09-21  2001-10-27
1          101  Neena Kochhar  Accounting Manager  2001-10-28  2005-03-15
2          102    Lex De Haan          Programmer  2001-01-13  2006-07-24

   Tenure (Months)  Job Switch Count
0             49.2                 2
1             40.6                 2
2             66.4                 1


--- First 3 rows of: job_salary_statistics.csv ---
    Job ID                      Job Title Department  Total Employees  \
0  AD_PRES                      President  Executive                1
1    AD_VP  Administration Vice President  Executive                2
2   MK_MAN              Marketing Manager  Marketing                1

   Avg Salary  Median Salary  Min Salary  Max Salary
0     24000.0          24000       24000       24000
1     17000.0          17000       17000       17000
2     13000.0          13000       13000       13000


--- First 3 rows of: job_turnover_analysis.csv ---
                  Job Title  Current Employees  Past Employees  \
0                Accountant                  5               0
1        Accounting Manager                  1               1
2  Administration Assistant                  1               1

   Turnover Rate (%)
0                0.0
1               50.0
2               50.0


--- First 3 rows of: location_employee_report.csv ---
     Region                   Country     City            Department  \
0    Europe            United Kingdom   London       Human Resources
1  Americas  United States of America  Seattle          Retail Sales
2  Americas  United States of America  Seattle  Shareholder Services

   Employee Count  Average Salary
0               1          6500.0
1               0             0.0
2               0             0.0


--- First 3 rows of: salary_distribution.csv ---
                     Salary Range  Employee Count
Mid ( $3    000 - $7        000 )            39.0
High ( > $7 000 )              44             NaN
Low ( < $3  000 )              24             NaN


--- First 3 rows of: salary_growth.csv ---
       Department  Employee ID             Name   Hire Date  Salary  \
0  Administration          200  Jennifer Whalen  2003-09-17    4400
1       Marketing          201  Michael Johnson  2004-02-17   13000
2       Marketing          202          Pat Joe  2005-08-17    6000

   First Salary  Growth %
0          4400      0.00
1         13000      0.00
2         13000    -53.85


--- First 3 rows of: salary_quartiles.csv ---
       Department  Employee ID             Name  Salary  Quartile
0  Administration          200  Jennifer Whalen    4400         1
1       Marketing          202          Pat Joe    6000         1
2       Marketing          201  Michael Johnson   13000         2


--- First 3 rows of: salary_rank.csv ---
       Department  Employee ID             Name  Salary  Rank  Dense Rank
0  Administration          200  Jennifer Whalen    4400     1           1
1       Marketing          201  Michael Johnson   13000     1           1
2       Marketing          202          Pat Joe    6000     2           2


--- First 3 rows of: tenure_comparison.csv ---
       Department  Employee ID             Name   Hire Date  Tenure  \
0  Administration          200  Jennifer Whalen  2003-09-17      21
1       Marketing          201  Michael Johnson  2004-02-17      21
2       Marketing          202          Pat Joe  2005-08-17      19

   Prev Tenure  Next Tenure
0            0            0
1            0           19
2           21            0


--- First 3 rows of: top_bottom_jobs.csv ---
                       Job Title  Avg Salary
0                      President       24000
1  Administration Vice President       17000
2              Marketing Manager       13000


--- First 3 rows of: top_salaries.csv ---
       Department  Employee ID             Name  Salary  Rank
0  Administration          200  Jennifer Whalen    4400     1
1       Marketing          201  Michael Johnson   13000     1
2       Marketing          202          Pat Joe    6000     2

In [6]:
import pyarrow; print(pyarrow.__version__)

AttributeError: module 'pyarrow' has no attribute '__version__'

In [5]:
import numpy
print(numpy.__file__)

C:\Users\aya20\anaconda3\envs\new\lib\site-packages\numpy\__init__.py

In [2]:
import pyarrow

In [3]:
print(pyarrow.__version__)

19.0.1